doctype html
html
  head
    title ONCARE
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="favicon.png")
    link(rel="stylesheet" href="assets/css/main.css")
  body
    section.nav
      .container
        .logo
          img(src="assets/img/logo.svg" alt="Logo de ONCARE")
        .links
          nav
            ul
              li 
                a(href="#home") Servicios de Consulta
              li
                a Servicios
              li
                a Staff Médico
              li
                a Seguros
              li 
                a Contacto
    section.home#home(name="home")
      .container
        .col.col--9-of-15
          .lead
            h1 Somos un grupo de especialistas enfocados en la atención y tratamiento de pacientes con Cáncer.
        .col.col--9-of-15
          .sub
            h2 Más de 8 mil <span>pacientes consultados y atendidos.</span>
        .row
          .col.col--3-of-15
            .btn
              a Contáctanos
      .img
        img(src="assets/img/doctora.jpg" alt="Doctora")
    section.consulta
      .container
        .row
          .col.col--15-of-15
            .row
              .col.col--push-1-of-15
                .lead
                  h2 Servicios de Consulta
            .contentcontainer
              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    span 1
                    p Consulta de Oncología Médica
                .col.col--4-of-15.items
                  .item
                    span 2
                    p Consulta de Hematología

                .col.col--4-of-15.items
                  .item
                    span 3
                    p Consulta de Radio Oncología	


              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    span 4
                    p Consulta de Gastroenterología con enfoque Oncológico
                .col.col--4-of-15.items
                  .item
                    span 5
                    p Consulta Neumológica con enfoque Oncológico

                .col.col--4-of-15.items
                  .item
                    span 6
                    p Consulta de Oncología Pediátrica

              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    span 7
                    p Consulta de Psico-oncología
                .col.col--4-of-15.items
                  .item
                    span 8
                    p Consulta de Neurología

                .col.col--4-of-15.items
                  .item
                    span 9
                    p Consejería Genética Oncológica


              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    span 10
                    p Consulta de Nutrición Oncológica
                .col.col--4-of-15.items
                  .item
                    span 11 
                    p Consulta de Fisioterapia y Rehabilitación

    section.servicios
      .container
        .row
          .col.col--15-of-15
            .row
              .col.col--push-1-of-15
                .lead
                  h2 Servicios
            .contentcontainer
              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    span 1	
                    p Infusiones de Forma Intravenosa, Intramuscular y Subcutánea
                .col.col--4-of-15.items
                  .item
                    span 2
                    p Aspirado de Médula Ósea

                .col.col--4-of-15.items
                  .item
                    span 3
                    p Toma de Muestra de LCR
              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    span 4	
                    p Punción Intra-articular
                .col.col--4-of-15.items
                  .item
                    span 5
                    p Colocación y Retiro de Catéter

                .col.col--4-of-15.items
                  .item
                    span 6
                    p Terapia de Psico-Oncología
              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    span 7
                    p Laboratorio Clínico e Imagen Diagnóstico
                .col.col--4-of-15.items
                  .item
                    span 8
                    p Asesoría Nutricional con Enfoque Oncológico

                .col.col--4-of-15.items
                  .item
                    span 9	
                    p Terapia Física Músculo Esquelética y de Linfedema
    section.imagen
      .container
        .row
          .col.col--10-of-15
            img(src="assets/img/abuelo.jpg" alt="Abuelo")
      .overlay
    section.staff
      .container
        .row
          .col.col--15-of-15
            .row
              .col.col--push-1-of-15
                .lead
                  h2 Staff Médico
            .contentcontainer
              .row
                .col.col--2-of-15.col--push-1-of-15.items
                  .title
                    span Oncología Médica
              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    p Dr. Juan Francisco González Guerrero
                .col.col--4-of-15.items
                  .item
                    p Dr. David Hernández Barajas

                .col.col--4-of-15.items
                  .item
                    p Dr. Victor Manuel Oyervides Juarez
              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    p Dra. Maria Fernanda Noriega Iriondo
                .col.col--4-of-15.items
                  .item
                    p Dr. Jorge Ignacio Gonzalez Villanueva

                .col.col--4-of-15.items
                  .item
                    p Dr. Luis Antonio Cancel Treviño
              .row
                .col.col--4-of-15.col--push-1-of-15.items
                  .item
                    p Dr. Omar Alejandro Zayas Villanueva
                .col.col--4-of-15.items
                  .item
                    p Dr. Alejandro De León Cruz

                .col.col--4-of-15.items
                  .item
                    p Dr. Carlos Leal Cavazos
    section.staff2
      .container
        .row
          .col.col--15-of-15
            .contentcontainer
              .row
                .col.col--push-1-of-15
                  .title
                    span Hematología
              .uno
                .row
                  .col.col--4-of-15.col--push-1-of-15.items
                    .item
                      p Dr. Juan Francisco González Guerrero
                  .col.col--4-of-15.items
                    .item
                      p Dr. David Hernández Barajas

                  .col.col--4-of-15.items
                    .item
                      p Dr. Victor Manuel Oyervides Juarez
              .dos
                .row
                  .col.col--push-1-of-15
                    .title
                      span Radioterapia
                .row
                  .col.col--4-of-15.col--push-1-of-15.items
                    .item
                      p Dr. Juan Francisco González Guerrero
                  .col.col--4-of-15.items
                    .item
                      p Dr. Erik Edmundo Pérez Ramos
    section.staff3
      .container
        .row
          .col.col--15-of-15
            .contentcontainer
              .row
                .margin
                  .col.col--4-of-15.col--push-1-of-15
                    .title
                      span Hematología
                      p Dra. Med. Adelina Alcorta Garza
                  .col.col--4-of-15
                    .title
                      span Gastroenterología
                      p Dr. Genaro Vazquez Elizondo
                  .col.col--4-of-15
                    .title
                      span Neumología
                      p Dr. Erick Joel Rendón Ramirez
              .row
                .margin
                  .col.col--4-of-15.col--push-1-of-15
                    .title
                      span Neurología
                      p Dra. Fabiola Flores Tello
                  .col.col--4-of-15
                    .title
                      span Reumatología
                      p Dr. Alejandro Erhard Ramírez
                  .col.col--4-of-15
                    .title
                      span Nutrición Oncológica
                      p Lic. Karen Kruger Dávila
              .row
                .col.col--4-of-15.col--push-1-of-15
                  .title
                    span Rehabilitación y Fisioterapia
                    p Lic. Renata Garzón Aragón
                .col.col--4-of-15
                  .title
                    span Psicología
                    p Lic. Hermelinda Fuentes Luis
                .col.col--4-of-15
                  .title
                    span Lic. Hermelinda Fuentes Luis
                    p Dr. Baltazar García Zamora
    section.seguros
      .container
        .row
          .col.col--15-of-15
            .row
              .col.col--push-1-of-15
                .lead
                  h2 Seguros con los que trabajamos
            .row
              .col.col--12-of-15.col--push-1-of-15
                .lista
                  p
                    .
                      <a href="">GNP</a><span>/</span> <a href="">Axa </a><span>/</span> <a href="">Seguros Monterrey</a> <span>/</span> <a href="">Mapfre</a><span>/</span> <a href="">New York Life</a> <span>/</span> <a href="">BX+</a><span>/</span> <a href="">Inbursa</a> <span>/</span> <a href="">Vitamédica</a> <span>/</span> <a href="">Plan Seguros</a> <span>/</span> <a href="">Zurich</a> <span>/</span> <a href="">Bupa</a><span>/</span> <a href="">Mediaccess</a><span>/</span> <a href="">Allianz</a> <span>/</span> <a href="">Interacciones</a> <span>/</span> <a href="">Prevem</a> <span>/</span> <a href="">RSA</a> <span>/</span> <a href="">Atlas</a> <span>/</span> <a href="">Banorte Seguros</a> <span>/</span> <a href="">Banorte Banco</a> <span>/</span> <a href="">Axa Assistance</a> <span>/</span> <a href="">Fira</a><span>/</span> <a href="">Sis Nova</a> <span>/</span> <a href="">Sinergia</a> <span>/</span> <a href="">BBVA</a> <span>/</span> <a href="">Nacional Monte de Piedad</a> <span>/</span> <a href="">Banamex</a> <span>/</span> <a href="">Henner</a> <span>/</span> <a href="">Scotiabank</a> <span>/</span> <a href="">Blue Cross</a> <span>/</span> <a href="">Blue Shield</a> <span>/</span> <a href="">Santander</a>
    section.visitanos
      .container
        .row
          .col.col--15-of-15
            .row
              .col.col--push-1-of-15
                .lead
                  h2 Visítanos
            .contentcontainer
              .row
                .col.col--5-of-15.col--push-1-of-15
                  .
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.53898993777!2d-100.37331004905032!3d25.65342181925393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bdeb5f5e79ab%3A0xef69b4b2898e5490!2sOncare!5e0!3m2!1ses!2smx!4v1497893684741" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  .mapainfo
                    h2 Unidad Valle
                    p Calzada San Pedro 255 Sur, Del Valle, 66220 San Pedro Garza García, N.L.

                .col.col--5-of-15.col--push-1-of-15
                  .
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1713.0917432204606!2d-100.38200491492675!3d25.653992001703955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bd90ec6e30f1%3A0xeb7d9b40d6c6ebb8!2sAvenida+Jos%C3%A9+Vasconcelos+451%2C+Tampiquito%2C+66220+San+Pedro+Garza+Garc%C3%ADa%2C+N.L.!5e0!3m2!1ses!2smx!4v1497894148314" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  .mapainfo
                    h2 Unidad San Francisco
                    p Avenida José Vasconcelos 451, Del Valle, 66220 San Pedro de los Garza Garcia., N.L.
    section.contacto
      .container
        .row
          .col.col--15-of-15
            .contentcontainer
              .row
                .col.col--push-1-of-15
                  .img
                    img(src="assets/img/logofooter.svg")
                  .mail
                    a(href="mailto:info@oncare.com.mx") info@oncare.com.mx
                  .tel
                    span (81) 8218 8555 / (81) 8448 0350
                  .facebook
                    a(href="https://www.facebook.com/OncareTreatmentCenter/" target="_blank") Facebook

    script(src="assets/js/jquery-2.1.4.min.js")
    script(src="assets/js/functions.js" type="text/javascript")
